*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrap{
    width: 100%;
}
header .header-top nav>ul{
    width: 70%;
    float: left;
    margin-left: 30%;
}
nav>ul>li{
    padding:0 1%;
    float: left;
    height: 3vh;
    margin-top: 4vh;
    position: relative;
    margin-left: 5%;
    z-index: 99;
}
nav>ul>li>a{
    color:#000;
    font-weight: 800;
}
nav>ul>li>ul>li>a{
    color:#000;
}
nav>ul>li:hover{
    background-color:rgba(255,255,255,0.5);
}
nav>ul>li:hover ul{
    background-color:rgba(255,255,255,0.5);
}
nav>ul>li ul{
    /* background-color:rgba(255,255,255,0.5); */
    width: 100%;
    height: 0;
    position: absolute;
    margin-top: 3vh;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}
nav>ul>li>ul>li{
    line-height: 5vh;
}
header .header-top{
    background-image: url(../images/sy5.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 10vh;
}
header .banner{
    width: 100%;
}
header .banner .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
}